<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name  ="BankingProject">
 
 <test name ="Banking Project">
 <parameter  name ="browser" value ="chrome" />
 <classes>
 <class   name ="com.clientproject.testCases.TC_LoginTest_001"   >
 
 
 
 
 </class>
 
 
 </classes>
 
 
 
 
 
 
 
 
 
 </test>





</suite>
